<!DOCTYPE html>
<html lang="es">
 	<head>
		<title>Saboteur - Partida</title>
		<meta charset="utf­8"/>
		<link rel="stylesheet" type="text/css" href="css/cssPrincipal.css">
	</head>
	<body>
		<div id="header" >

			<div class="iz">
				<IMG id="imagentop" SRC="RecursosGraficosP1/Logo.png"></IMG>
				
			</div>
			<div class="dr">
				<div class="card" onclick="location.href = 'principal.html'">
				    <img src="RecursosGraficosP1/img_avatar.png" alt="Avatar" id= "imgCard" >
				    <% if (!usuario) { %>
						<h2 id="conect">No estás conectado</h2>
					<% } else { %>
						<h2 id="conect"><%= usuario %></h2>
					<% } %>
				</div>
				
			</div>
	    </div>
	    <div id ="cinta">
	    	<div > 
	    		<div class="margizq">
	    			<button class="button" onclick="location.href = 'desconectar.html'"><span>Desconectar</span></button>
	    			<button class="button" onclick="location.href = 'unirse.html'"><span>Unirse a partida</span></button>
	    			<button class="button" onclick="location.href = 'crear.html'"><span>Crear partida</span></button>
	    		</div>
	    	</div>
	    </div>

	    <div id ="bienvenida">

			<%error.forEach(function(err){%>
			<div class="alert">
			  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
			  <%=err.msg%>
			</div>
			<%});%>

	    	<div>
	    		<h1 class="welcome">Coloca la carta en el tablero o descartala si lo prefieres</h1>
		    	
	    		<img src="RecursosGraficosP1/<%=carta.nombreCarta%>.png">

		    	<form method="GET" action="descartarCarta.html">
					<div class="select">
						<input type="hidden" name="idPart" value = <%= partida%>>
						<input type="hidden" name="carta" value = <%= carta.idCarta%>>
					</div>
					<button class="button" onclick="myform.submit()"><span>Descartar carta</span></button>
				</form>
					<button class="button" onclick="location.href='partida.html?idPartida=<%= partida%>'"><span>Volver a escoger carta</span></button>

		    </div>

		    <div>
		    	<h1 class="welcome">Tablero</h1>

		    	<table class = "tablero">
		    	<%for(var i = 0; i < 7; i++){%>
			    	<tr>

			    		<%for(var j = 0; j < 7; j++){%>
					    	<%if(tablero[i][j] === undefined){%>
					    		<td class="clickable"><img src="" onclick="location.href='ponerCarta.html?idPart=<%=partida%>&f=<%=i%>&c=<%=j%>&idCarta=<%=carta.idCarta%>'"></td>
					    	<%} else {%>
								<td><img src="RecursosGraficosP1/<%=tablero[i][j].nombreCarta%>.png"></td>
							<%}%>
						<%}%>

					</tr>
				<%}%>
				
		    	</table>



		    </div>
			<div>
				<br>
				<a href="principal.html" class="iz">Volver a la página de usuario</a>
			</div>


	    </div>
	</body>
</html>